{{ $note := .note }}

<div class="article-list-item" itemscope itemprop="blogpost" itemtype="http://schema.org/BlogPosting">
  {{ $preview := $note.Params.header.preview | default true }}
  {{ if and $note.Params.header.image $preview }}
  <a href="{{ $note.Permalink }}">
    <img src="{{ "/img/" | relURL }}{{ $note.Params.header.image }}" class="article-banner" itemprop="image">
  </a>
  {{end}}
  <h3 class="article-title" itemprop="headline">
    <a href="{{ $note.Permalink }}" itemprop="url">{{ $note.Title}}</a>
  </h3>
  <p>
    <small>{{ printf "%s" $note.Params.summary | markdownify }}</small>
    <span class="article-date">
      {{ if ne $note.Params.Lastmod $note.Params.Date }}
          {{ i18n "last_updated" }}
      {{ end }}
      <time datetime="{{ $note.Date }}" itemprop="datePublished dateModified">
        {{ $note.Lastmod.Format $note.Site.Params.date_format }}
      </time>
    </span>
  </p>
</div>
