{{ $note := .note }}

<div class="card-simple" itemscope itemprop="blogpost" itemtype="http://schema.org/BlogPosting">

  <span class="article-date">
    <time datetime="{{ $note.Date }}" itemprop="datePublished dateModified">
      {{ $note.Lastmod.Format $note.Site.Params.date_format }}
    </time>
  </span>

  <span class="middot-divider"></span>

  <span class="article-reading-time">
    <small>{{ $note.ReadingTime }} {{ i18n "minute_read" }}</small>
  </span>

  <span class="middot-divider"></span>

  <a href="{{ $note.Permalink }}" itemprop="url">
    <span itemprop="headline">
      {{ $note.Title}}
    </span>
  </a>

  <span class="middot-divider"></span>

  <small>{{ printf "%s" $note.Params.summary | markdownify }}</small>

</div>
