{{ $post := . }}

<div class="card-simple" itemscope itemprop="blogpost" itemtype="http://schema.org/BlogPosting">

  <span class="article-date">
    <time datetime="{{ $post.Date }}" itemprop="datePublished dateModified">
      {{ $post.Lastmod.Format $post.Site.Params.date_format }}
    </time>
  </span>

  <span class="middot-divider"></span>

  <span class="article-reading-time">
    <small>{{ $post.ReadingTime }} {{ i18n "minute_read" }}</small>
  </span>

  <span class="middot-divider"></span>

  <a href="{{ $post.RelPermalink }}" itemprop="url">
    <span itemprop="headline">
      {{ $post.Title}}
    </span>
  </a>

  <span class="middot-divider"></span>

  <small class="article-summary">{{ printf "%s" $post.Params.summary | markdownify }}</small>

</div>

