{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  {{ if eq $.Params.list_format 0 }}
  {{ partial "note_li_simple" . }}
  {{ else if eq $.Params.list_format 1 }}
  {{ partial "note_li_detailed" . }}
  {{ else }}
  {{ partial "note_li_stream" . }}
  {{ end }}
  {{ end }}

  {{ partial "pagination" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
